
@model List<SaasPalProject.Models.Slider>
<section class="header-section">
    <div class="container">
        <div class="row align-items-center position-relative">
            <div class="col-lg-6">
                <div class="hero-content">
                    <h1 class="title">
                        Launch Your SaaS Website in Minutes!
                    </h1>
                    <p class="desc">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                        diam nonumy eirmod tempor invidunt ut labore et dolore magna
                        aliquyam erat, sed diam voluptua.
                    </p>
                    <a href="#" class="main-btn btn-white">Get Started</a>
                    <a href="#features" class="scroll-bottom">
                        <i class="lni lni-arrow-down"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hero-img wow fadeInUp" data-wow-delay=".5s"
                     style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <img src="~/assets/img/hero-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="features" class="pt-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 d-flex flex-column align-items-center">
                <i class="lni lni-bootstrap"></i>
                <div>
                    <h3>Bootstrap 5</h3>
                </div>
                <div>
                    <p style="text-align: center; width: 300px;">
                        Lorem ipsum dolor sit amet, consetetur
                        sadipscing
                        elitr, sed diam nonumy eirmod tempor
                        invidunt ut labore
                    </p>
                </div>
            </div>
            <div class="col-lg-4 d-flex flex-column align-items-center">
                <i class="lni lni-layout"></i>
                <div>
                    <h3>Clean Design</h3>
                </div>
                <div>
                    <p style="text-align: center; width: 300px;">
                        Lorem ipsum dolor sit amet, consetetur
                        sadipscing
                        elitr, sed diam nonumy eirmod tempor
                        invidunt ut labore
                    </p>
                </div>
            </div>
            <div class="col-lg-4 d-flex flex-column align-items-center">
                <i class="lni lni-coffee-cup"></i>
                <div>
                    <h3>Easy to Use</h3>
                </div>
                <div>
                    <p style="text-align: center; width: 300px;">
                        Lorem ipsum dolor sit amet, consetetur
                        sadipscing
                        elitr, sed diam nonumy eirmod tempor
                        invidunt ut labore
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about" class="pt-150">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6 head">
                <img class="about1" style="z-index: 2;" src="~/assets/img/about-1.png" alt="">
                <img src="~/assets/img/about-left-shape.svg" alt="">
                <img class="dots" style="z-index: 1;" src="~/assets/img/left-dots.svg" alt="">
            </div>
            <div class="col-lg-6 about-desc">
                <h3>Perfect Solution Thriving Online Business</h3>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dinonumy eirmod tempor invidunt
                    ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                    dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem.Lorem
                    ipsum
                    dolor sit amet.
                </p>
                <a href="#" class="main-btn btn-blue">Discover More</a>
            </div>
        </div>
    </div>
</section>
<section class="pt-350">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6 about-desc">
                <h3>Easy to Use with Tons of Awesome Features</h3>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                    invidunt
                    ut labore et dolore magna aliquyam erat, sed diam voluptua.
                </p>
                <div class=" d-flex align-items-center gap-4">
                    <i class="las la-circle"></i>
                    <h4 style="margin-top: 5px;">Quick Access</h4>
                </div>
                <div class=" d-flex align-items-center gap-4">
                    <i class="las la-circle"></i>
                    <h4 style="margin-top: 5px;">Easily to Manage</h4>
                </div>
                <div class=" d-flex align-items-center gap-4">
                    <i class="las la-circle"></i>
                    <h4 style="margin-top: 5px;">24/7 Support</h4>
                </div>
                <div class="mt-4">
                    <a href="#" class="main-btn btn-blue">Learn More</a>
                </div>
            </div>
            <div class="col-lg-6 head">
                <img class="about1" src="~/assets/img/about-1.png" alt="">
                <img src="~/assets/img/about-left-shape.svg" alt="">
                <img class="dots" style="z-index: 1;" src="~/assets/img/left-dots.svg" alt="">
            </div>
        </div>
    </div>
</section>
<section id="why" class="mt-150">
    <div class="container pt-5">
        <div class="d-flex justify-content-center">
            <h2 class="fw-bold">Why Choose SaaSpal</h2>
        </div>
        <div class="d-flex justify-content-center">
            <p class="c-gray fs-5 w-50 text-center">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor
                invidunt ut
                labore et dolore
            </p>
        </div>
    </div>
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="why-content">
                    <i class="lni lni-display pb-3"></i>
                    <h3>SaaS Focused</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt ut labore
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="why-content">
                    <i class="lni lni-leaf pb-3"></i>
                    <h3>Awesome Design</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt ut labore
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="why-content">
                    <i class="lni lni-grid-alt pb-3"></i>
                    <h3>Ready to Use</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt ut labore
                    </p>
                </div>
            </div>
            <div class="col-lg-4 pt-4">
                <div class="why-content">
                    <i class="lni lni-javascript  pb-3"></i>
                    <h3>Vanilla JS</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt ut labore
                    </p>
                </div>
            </div>
            <div class="col-lg-4 pt-4">
                <div class="why-content">
                    <i class="lni lni-layers pb-3"></i>
                    <h3>Essential Sections</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt ut labore
                    </p>
                </div>
            </div>
            <div class="col-lg-4 pt-4">
                <div class="why-content">
                    <i class="lni lni-rocket pb-3"></i>
                    <h3>Highly Optimized</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt ut labore
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="clients" style="margin-top: 7%; margin-bottom: 7%;">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                    class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            @foreach (var item in Model)
            {
                <div class="carousel-item @(@item.Id == 1 ? "active":"")">
                    <img width="200" height="700" src="~/assets/img/@item.Image" class="d-block w-100" alt="...">
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
            <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>